header{
    position: absolute;
    width: 1440px;
    height: 80px;
    left: calc(50% - 1440px/2);
    top: 0px;
    background: rgba(236, 234, 234, 0.7);
    backdrop-filter: blur(20px);
}
.name{
    display: inline;
    position: absolute;
    width: 200px;
    height: 27px;
    left: calc(50% - 200px/2 - 484px);
    top: 27px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.5px;

    color:#000000;
}
.about{
    position: absolute;
    width: 48px;
    height: 25px;
    left: calc(50% - 48px/2 + 460px);
    top: 30px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    
    letter-spacing: -0.5px;
    
    color: #000000;
}
.teachers{
    position: absolute;
    width: 80px;
    height: 21px;
    left: 934px;
    top: 31px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.5px;

    color: #000000;
}
.main{
    position: absolute;
    width: 70px;
    height: 25px;
    left: calc(50% - 70px/2 + 365px);
    top: 30px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    
    letter-spacing: -0.5px;
    
    color: #000000;
}
.look-calendar {
    width:220px;
    border:1px solid #c0c0c0;
    padding:6px;
    margin: 0 auto;    
  }
  #calendar {
    width: 100%;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    border-spacing:0px;
  }
  #calendar tr.dn td {
    font-size: 15px;
  }
  #calendar thead tr:last-child {
    font-size: small;
    color: #555555;
  }
  #calendar thead tr:nth-child(1) td:nth-child(2) {
    color: #323232;
  }
  #calendar thead tr:nth-child(1) td:nth-child(1):hover,
  #calendar thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
  }
  #calendar tbody td {
    color: #2c567a;
  }
  #calendar tbody td:nth-child(n+6),
  #calendar .holiday {
    color: #e78c5c;
  }
  #calendar tbody td.today {
    background: #dc0000;
    color: #fff;
  }